# Environment variables / secrets
.env
.env.*

# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db